TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
NAME=%IF_NAME%
DEVICE=%IF_NAME%
UUID=%IF_UUID%
ONBOOT=yes
ZONE=%IF_ZONE%
